
.animation-container {
    max-width: 1400px;
    margin: 0 auto;
}
.first-animation-block {
    display: inline-block;
    position: relative;

    height: 50vh;
    width: 100%;
    padding: 20px;
}

.expand-modal {
    animation: expand 0.5s;
    position: absolute;
    left: 32%;
    top: 32%;

    max-width: 34%;
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid red;
    border-radius: 15px;
}
.expand-button-block {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.expand-button-wrapper {
    position: absolute;
    left: 42%;
    top: 55%;
    z-index: 1;

    max-width: 35%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.expand-button {
    position: relative;
    top: 0;
    left: 0;

    min-width: 150px;
    height: 45px;
    padding: 7px;

    background-color: red;
    outline: none;
    border: none;
    border-radius: 15px;

    font-size: 14px;
    color: white;
}
.expand-button-delete {
    animation: floating 1s, reveal 0.5s;
    animation-delay: 0.3s;
    opacity: 0;
    animation-fill-mode: forwards;

    min-width: 150px;
    height: 45px;
    padding: 7px;

    background-color: red;
    outline: none;
    border: none;
    border-radius: 15px;

    font-size: 14px;
    color: white;

}
.expand-button-decline {
    animation: floating 1s, reveal 0.5s;
    animation-delay: 0.2s;
    opacity: 0;
    animation-fill-mode: forwards;

    min-width: 150px;
    height: 45px;
    padding: 7px;

    outline: none;
    border-radius: 15px;
    font-size: 14px;

    border: 2px solid red;
    background-color: white;
    color: red;
}

.expand-modal-title {
    animation: floating 1s;
    animation-fill-mode: forwards;

    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    color: red;
    text-align: center;
}

.expand-modal-text {
    animation: floating 1s;

    padding: 10px;
    color: #262e4f;
    text-align: center;
    font-size: 18px;
}

.shifting-cards-block {
    width: 100%;
    height: 100vh;
    background-color: #9296a6;
    margin: 0 auto;

    position: relative;
}
.first-shifting-card {
    animation: firstmoved 5s forwards;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 3;

    height: 500px;
    width: 375px;
    background-color: limegreen;
    border: 1px dotted black;
    border-radius: 5px;
}
.second-shifting-card {
    animation: secondmoved 5s forwards;
    position: absolute;
    top: 42.5%;
    left: 42.5%;
    z-index: 2;

    height: 500px;
    width: 375px;
    background-color: indianred;
    border: 1px dotted black;
    border-radius: 5px;
}

.third-shifting-card {
    animation: thirdmoved 5s forwards;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1;

    height: 500px;
    width: 375px;
    background-color: indianred;
    border: 1px dotted black;
    border-radius: 5px;
}

@keyframes expand {
    0%   {transform:scale(.1);}
    100% {transform:scale(1);}
}

@keyframes floating {
    0% {transform: translateY(35px); opacity: 1}
    100% {transform: translateY(0); opacity: 1}
}

@keyframes firstmoved {
    0% {opacity: 1}
    //подьем
    14.2% {top: -140px; left: 40%; z-index: 3}
    //завис
    28.55% {z-index: 3}
    28.57% {opacity: 1; z-index: 2; background-color: indianred;}
    //сдвиг
    42.7% {top: 45%; left: 45%; z-index: 1; background-color: indianred;}
    //сдвиг
    56.9% {top: 42.5%; left: 42.5%; z-index: 2; background-color: indianred;}
    //ожидание
    71.1% {top: 42.5%; left: 42.5%; z-index: 2; background-color: indianred;}
    //сдвиг
    85.3% {top: 40%; left: 40%; z-index: 3;}
    //ожидание
    100% {opacity: 1}
}

@keyframes secondmoved {
    0% {opacity: 1}
    //сдвиг
    14.2% {top: 40%; left: 40%; background-color: indianred;}
    //ожидание
    28.57% {opacity: 1; top: 40%; left: 40%; z-index: 3;background-color: indianred;}
    //подьем
    42.7% {top: -140px; left: 40%; background-color: limegreen;}
    //завис
    56.8% {z-index: 3}
    56.9% {opacity: 1; z-index: 2; background-color: indianred;}
    //сдвиг
    71.1% {top: 45%; left: 45%; z-index: 1; background-color: indianred;}
    //сдвиг
    85.3% {top: 42.5%; left: 42.5%; z-index: 2; background-color: indianred;}
    //ожидание
    100% {top: 42.5%; left: 42.5%; z-index: 2; background-color: indianred;}
}
@keyframes thirdmoved {
    0% {opacity: 1}
    //сдвиг
    14.2% {top: 42.5%; left: 42.5%; z-index: 1;background-color: indianred;}
    //ожидание
    28.57% {top: 42.5%; left: 42.5%; z-index: 2;background-color: indianred;}
    //сдвиг
    42.7% {opacity: 1;top: 42.5%; left: 42.5%; z-index: 2;background-color: indianred;}
    //ожидание
    56.9% {top: 40%; left: 40%; z-index: 3;background-color: limegreen;}
    //подьем
    71.1% {top: -140px; left: 40%; background-color: indianred;}
    //завис
    85.3% {opacity: 1; z-index: 1; background-color: indianred;}
    //сдвиг
    100% {top: 45%; left: 45%; z-index: 1; background-color: indianred;}
}




