
.animation-container {
    max-width: 1400px;
    margin: 0 auto;
}
.first-animation-block {
    display: inline-block;
    position: relative;

    height: 50vh;
    width: 100%;
    padding: 20px;
}

.expand-modal {
    animation: expand 0.5s;
    position: absolute;
    left: 32%;
    top: 32%;
    z-index: 2;

    max-width: 34%;
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid red;
    border-radius: 15px;
}
.expand-button-block {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.expand-button-wrapper {
    position: absolute;
    left: 32%;
    top: 32%;
    z-index: 1;

    width: 476px;
    height: 214px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.expand-button {
    position: relative;
    top: 0;
    left: 0;

    min-width: 150px;
    height: 45px;
    padding: 7px;

    background-color: red;
    outline: none;
    border: none;
    border-radius: 15px;

    font-size: 14px;
    color: white;
}
.expand-button-delete {
    animation: floating 1s, reveal 0.5s;
    animation-delay: 0.3s;
    opacity: 0;
    animation-fill-mode: forwards;

    min-width: 150px;
    height: 45px;
    padding: 7px;

    background-color: red;
    outline: none;
    border: none;
    border-radius: 15px;

    font-size: 14px;
    color: white;

}
.expand-button-decline {
    animation: floating 1s, reveal 0.5s;
    animation-delay: 0.2s;
    opacity: 0;
    animation-fill-mode: forwards;

    min-width: 150px;
    height: 45px;
    padding: 7px;

    outline: none;
    border-radius: 15px;
    font-size: 14px;

    border: 2px solid red;
    background-color: white;
    color: red;
}

.expand-modal-title {
    animation: floating 1s;
    animation-fill-mode: forwards;

    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    color: red;
    text-align: center;
}

.expand-modal-text {
    animation: floating 1s;

    padding: 10px;
    color: #262e4f;
    text-align: center;
    font-size: 18px;
}

.shifting-cards-block {
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    position: relative;
}
.first-shifting-card {
    animation: firstmoved 6s forwards infinite;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 3;

    height: 500px;
    width: 375px;
    background-color: limegreen;
    border: 1px dotted black;
    border-radius: 5px;
}
.second-shifting-card {
    animation: secondmoved 6s forwards infinite;
    position: absolute;
    top: 42.5%;
    left: 42.5%;
    z-index: 2;

    height: 500px;
    width: 375px;
    background-color: indianred;
    border: 1px dotted black;
    border-radius: 5px;
}

.third-shifting-card {
    animation: thirdmoved 6s forwards infinite;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1;

    height: 500px;
    width: 375px;
    background-color: indianred;
    border: 1px dotted black;
    border-radius: 5px;
}

@keyframes expand {
    0%   {transform:scale(.35);}
    100% {transform:scale(1);}
}

@keyframes floating {
    0% {transform: translateY(35px); opacity: 1}
    100% {transform: translateY(0); opacity: 1}
}

@keyframes firstmoved {
    //1
    16% {z-index: 3}
    16.6% {top: -128px; left: 40%; z-index: 1}
    //2
    33.3% {top: 45%; left: 45%; z-index: 1; background-color: indianred;}
    //3
    48% {z-index: 1}
    49.9% {top: 42.5%; left: 42.5%; z-index: 2; background-color: indianred;}
//    4
    65.9% {top: 42.5%; left: 42.5%; z-index: 2; background-color: indianred;}
//    5
    80% {z-index: 2}
    82.5% {top: 40%; left: 40%; z-index: 3;background-color: indianred;}
    //6
    100% {top: 40%; left: 40%; z-index: 3;background-color: indianred;}

}

@keyframes secondmoved {
    //1
    16% {z-index: 2}
    16.6% {top: 40%; left: 40%; z-index: 3; background-color: indianred;}
    //2
    33.3% {top: 40%; left: 40%; z-index: 3; background-color: limegreen;}
    //3
    48% {z-index: 3}
    49.9% {top: -128px; left: 40%; z-index: 1}
//    4
    65% {z-index: 1}
    65.9% {top: 45%; left: 45%; z-index: 1; background-color: indianred;}
//    5
    80% {z-index: 1}
    82.5% {top: 42.5%; left: 42.5%; z-index: 2;background-color: indianred;}
//
    100% {top: 42.5%; left: 42.5%; z-index: 2;background-color: indianred;}

}
@keyframes thirdmoved {
    //1
    16% {z-index: 1}
    16.6% {top: 42.5%; left: 42.5%; z-index: 2;background-color: indianred;}
    //2
    33% {z-index: 2}
    33.3% {top: 42.5%; left: 42.5%; z-index: 2;background-color: indianred;}
    //3
    48% {z-index: 2}
    49.9% {top: 40%; left: 40%; z-index: 3;background-color: indianred;}
//    4
    65.9% {top: 40%; left: 40%; z-index: 3;background-color: limegreen;}
//    5
    80% {z-index: 3}
    82.5% {top: -128px; left: 40%; z-index: 1}
//    6
    99% {z-index: 1}
    100% {top: 45%; left: 45%; z-index: 1; background-color: indianred;}
}




//@keyframes first {
//    //подьем
//    25% {top: -128px; left: 40%; z-index: 3}
//    26% {z-index: 1;}
//    //сдвиг
//    50% {top: 45%; left: 45%; z-index: 1; background-color: indianred;}
//    //сдвиг
//    75% {top: 42.5%; left: 42.5%; z-index: 2;background-color: indianred;}
//    76% {z-index: 3}
//    //сдвиг
//    100% {top: 40%; left: 40%; z-index: 3; background-color: limegreen;}
//    //ожидание
//
//}
//@keyframes second {
//    //сдвиг
//    18% {z-index: 2}
//    25% {top: 40%; left: 40%; z-index: 3; background-color: limegreen;}
//    //ожидание
//    //подьем
//    50% {top: -130px; left: 40%; z-index: 3; background-color: indianred;}
//    51% {z-index: 1;}
//    //сдвиг
//    75% {top: 45%; left: 45%; z-index: 1; background-color: indianred;}
//    //сдвиг
//    76% {z-index: 2}
//    100% {top: 42.5%; left: 42.5%; z-index: 2;background-color: indianred;}
//    //
//}
//@keyframes third {
//    24.9% {z-index: 1}
//    25% {top: 42.5%; left: 42.5%; z-index: 1;background-color: indianred;}
//    //сдвиг
//    49.9% {z-index: 2}
//    50% {top: 40%; left: 40%; z-index: 3; background-color: limegreen;}
//    //подьем
//    75% {top: -103px; left: 40%; z-index: 1; background-color: indianred;}
//    //сдвиг
//    100% {top: 45%; left: 45%; z-index: 1; background-color: indianred;}
//
//}




