$blue: blue;

* {
  box-sizing: border-box;
}

h1 {
  max-width: 1800px;
  color: $blue;
}

.main-page-container {
  max-width: 1800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}